In [1]:
import matplotlib as mpl
from matplotlib.colors import ListedColormap
mpl.rcParams['figure.figsize'] = [12, 8]
mpl.rcParams['figure.dpi'] = 150 # 200 e.g. is really fine, but slower
mpl.rcParams['axes.edgecolor']='#FA6E4F'
mpl.rcParams['font.family'] = 'monospace'
import warnings
warnings.filterwarnings('ignore')

In [40]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import clear_output
import merged_dbase

In [3]:
ott = pd.read_csv('data/ott_fillcountries.csv',index_col=0)

In [4]:
ott.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix

In [5]:
# dropping columns that I am not interested in
drop_cols = ['director','cast','date_added']
ott = ott.drop(drop_cols,axis=1)

In [6]:
pd.DataFrame(ott.isnull().sum()[ott.isnull().sum() > 0]) # columns with null

             0
country   1904
rating     344
duration     3

In [7]:
ott['country'] = ott['country'].replace(np.nan,'NA')

In [8]:
ott['rating'] = ott['rating'].replace(np.nan,'NA')

In [9]:
pd.DataFrame(ott.isnull().sum()[ott.isnull().sum() > 0]) # columns with null

          0
duration  3

In [13]:
len(ott['country'].to_list())

19925

In [27]:
def str2list(country_vals):
    cl = [x.lstrip() for x in country_vals.split(',')]
    return cl

In [31]:
print(str2list('United Kingdom,United States'))

['United Kingdom', 'United States']

In [33]:
ott['countries_list'] = ott['country'].apply(str2list)

In [21]:
len(countries)

19925

In [22]:
countries = [ item for elem in countries for item in elem]

In [23]:
len(countries)

24114

In [41]:
# ott.explode(['countries_list'])

In [43]:
ott['duration_minutes'] = np.vectorize(merged_dbase.split_duration)(ott.duration, ott.type)

In [45]:
ott['num_seasons'] = np.vectorize(merged_dbase.split_seasons)(ott.duration, ott.type)

In [46]:
ott['num_countries'] = np.vectorize(merged_dbase.num_countries)(ott.country)

In [54]:
otte = ott.explode(['countries_list'])

In [71]:
otte.type.unique()

array(['Movie', 'TV Show'], dtype=object)

In [73]:
otte.head(10)

,show_id,type,title,country,release_year,rating,duration,listed_in,description,platform,countries_list,duration_minutes,num_seasons,num_countries
0,s1,Movie,Dick Johnson Is Dead,United States,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix,United States,90,,1
1,s2,TV Show,Blood & Water,South Africa,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix,South Africa,,2,1
2,s3,TV Show,Ganglands,France,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix,France,,1,1
3,s4,TV Show,Jailbirds New Orleans,United States,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix,United States,,1,1
4,s5,TV Show,Kota Factory,India,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix,India,,2,1
5,s6,TV Show,Midnight Mass,United States,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,Netflix,United States,,1,1
6,s7,Movie,My Little Pony: A New Generation,"United States,Ireland,Canada",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,Netflix,United States,91,,3
6,s7,Movie,My Little Pony: A New Generation,"United States,Ireland,Canada",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,Netflix,Ireland,91,,3
6,s7,Movie,My Little Pony: A New Generation,"United States,Ireland,Canada",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,Netflix,Canada,91,,3
7,s8,Movie,Sankofa,"United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",Netflix,United States,125,,6

In [74]:
ott.rating.value_counts()

TV-MA       3284
TV-14       2447
13+         2117
R           1809
16+         1547
TV-PG       1333
ALL         1268
18+         1243
PG-13        949
PG           776
TV-G         619
TV-Y7        504
TV-Y         431
G            387
7+           385
NA           344
NR           303
TV-NR        105
UNRATED       33
TV-Y7-FV      19
NC-17          6
UR             3
AGES_18_       3
NOT_RATE       3
AGES_16_       2
66 min         1
84 min         1
74 min         1
16             1
ALL_AGES       1
Name: rating, dtype: int64