In [1]:
import matplotlib as mpl
from matplotlib.colors import ListedColormap
mpl.rcParams['figure.figsize'] = [12, 8]
mpl.rcParams['figure.dpi'] = 150 # 200 e.g. is really fine, but slower
mpl.rcParams['axes.edgecolor']='#FA6E4F'
mpl.rcParams['font.family'] = 'monospace'
import warnings
warnings.filterwarnings('ignore')

In [40]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import clear_output
import merged_dbase

In [3]:
ott = pd.read_csv('data/ott_fillcountries.csv',index_col=0)

In [4]:
ott.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix

In [5]:
# dropping columns that I am not interested in
drop_cols = ['director','cast','date_added']
ott = ott.drop(drop_cols,axis=1)

In [6]:
pd.DataFrame(ott.isnull().sum()[ott.isnull().sum() > 0]) # columns with null

             0
country   1904
rating     344
duration     3

In [7]:
ott['country'] = ott['country'].replace(np.nan,'NA')

In [8]:
ott['rating'] = ott['rating'].replace(np.nan,'NA')

In [9]:
pd.DataFrame(ott.isnull().sum()[ott.isnull().sum() > 0]) # columns with null

          0
duration  3

In [13]:
len(ott['country'].to_list())

19925

In [27]:
def str2list(country_vals):
    cl = [x.lstrip() for x in country_vals.split(',')]
    return cl

In [31]:
print(str2list('United Kingdom,United States'))

['United Kingdom', 'United States']

In [33]:
ott['countries_list'] = ott['country'].apply(str2list)

In [21]:
len(countries)

19925

In [22]:
countries = [ item for elem in countries for item in elem]

In [23]:
len(countries)

24114

In [41]:
# ott.explode(['countries_list'])

In [43]:
ott['duration_minutes'] = np.vectorize(merged_dbase.split_duration)(ott.duration, ott.type)

In [44]:
ott['num_seasons'] = np.vectorize(merged_dbase.split_seasons)(ott.duration, ott.type)

NameError: name 'split_seasons' is not defined